.header {
  text-transform: uppercase;
}
.header_container {
  max-width: var(--container-lg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--margin-auto);
}
.header_logo {
  margin: 0.8rem 0;
}
.header_logo img {
  width: 80px;
  vertical-align: middle;
}
.header_nav ul {
  display: flex;
  list-style: none;
}
.header_nav ul li {
  margin: 0 0.8rem;
}
.header_nav ul .active {
  border-bottom: 0.3rem solid var(--primary-color);
}
.header_nav ul a {
  display: inline-block;
  text-decoration: none;
  font-size: var(--font-sm);
  font-weight: 500;
  color: var(--secondary-color);
  padding: 2.7rem 0;
}
.header_nav ul .active a {
  color: var(--primary-color);
}

.header {
  text-transform: uppercase;
}
.header_container {
  max-width: var(--container-lg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--margin-auto);
}
.header_logo {
  margin: 0.8rem 0;
}
.header_logo img {
  width: 80px;
  vertical-align: middle;
}
.header_nav ul {
  display: flex;
  list-style: none;
}
.header_nav ul li {
  margin: 0 0.8rem;
}
.header_nav ul .active {
  border-bottom: 0.3rem solid var(--primary-color);
}
.header_nav ul a {
  display: inline-block;
  text-decoration: none;
  font-size: var(--font-sm);
  font-weight: 500;
  color: var(--secondary-color);
  padding: 2.7rem 0;
}
.header_nav ul .active a {
  color: var(--primary-color);
}