@import '../mixins/mixins.scss';

.section_cards {
    max-width: var(--container-lg);
    margin: var(--margin-auto);
    padding: 3.5rem 0 1rem 0;
    text-transform: uppercase;
    position: relative;
    text-align: center;

    h1 {
        background-color: var(--primary-color);
        color: var(--text-white);
        display: inline-block;
        position: absolute;
        top: -1.5rem;
        left: -0.5rem;
        padding: 0.8rem 1.5rem


    }

    .row {
        @include flex('center', 'start');
        gap: 2rem;
        flex-wrap: wrap;
        margin-bottom: 2.5rem;

        .cards_list {
            width: calc(100% / 6 - 2rem);
            color: var(--text-white);
        }
    }

    button {
        @include blueButton;
    }
}