@import '../mixins/mixins.scss';
.main_card {
    background-color: white;

    .section_card {
        .top_card {
            background-color: var(--primary-color);
            width: 100%;
            height: 4.375rem;
        }

        .middle_card {
            max-width: var(--container-md);
            margin: var(--margin-auto);

            img {
                display: inline-block;
                position: relative;
                top: -19.75rem;
                border: .125rem solid white;
            }
        }

        .bottom_card {
            background-color: lightgray;
            max-width: var(--container-md);
            margin: var(--margin-auto);
        }
    }
}