:root {
    /*----------------
        COLORS
    ----------------*/
    --primary-color: #0282f9;
    --secondary-color: #303030;
    --tertiary-color: black;
    --text-white: white;
    /*----------------
        CONTAINER-SIZE
    ----------------*/
    --container-lg: 75rem;
    --container-md: 60rem;
    --margin-auto: auto;
    /*----------------
        FONT-SIZE
    ----------------*/
    --font-sm: 0.8rem;
}